.search-page {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 64px;
}

@media (max-width: 920px) {
  .articles {
    align-items: center;
  }
}
