$background-color: #ffffff;
$background-color-darkTheme: #333333;

$primary-color: #292929;
$primary-color-darkTheme: #ffffff;

$hover-color: #f2f2f2;
$hover-color-darkTheme: #505050;

$grey-color: #757575;
$grey-color-darkTheme: #9b9b9b;
